table {
    width: 500px;
    height: 500px;
    border-collapse: collapse;
    border: 8px solid black;
}

td {
    border: 8px solid black;
    text-align: center;
}

.red {
    background-color: #e43f21;
}

.yellow {
    background-color: #f9da41;
}

.blue {
    background-color: #0b11b1;
}

.black {
    background-color: #020202;
}

.width-45 {
    width: 45px;
}

.width-20 {
    width: 20px;
}

.height-20 {
    height: 20px;
}

.width-3 {
    width: 3px;
}
